/*****
 * Style for novafacile.com
 * @author novafacile OÜ
 * @copyright 2021 novafacile OÜ
 *****/

body {
  color: #5b5b5b;
  background: url(../img/luke-stackpoole-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

a {
  text-decoration-style: dotted;
  color: #57bf73;
}

a:hover {
  color: #57bf73;
}

/** .content **/
 .content {
  background-color: rgb(0,0,0,0.5);
 }

.content .logo {
  width: 200px;
  height: auto;
  margin-top: 15vh;
 }

.content h1.display-1 {
  letter-spacing: 0.2rem;
 }

 .content .row div {
  margin-bottom: 2rem;
 }
